body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 211, 150, 0.68);

    margin: 0;
    padding: 0;
}


.main {
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: rgba(245, 245, 245, 0.55);
}

.sector-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;


}

.prob-rez {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    flex-direction: row;
    width: 100%;

}


.blok-foto {
    max-width: 45%; /* добавлено для ограничения ширины блока */

    width: 40%;
    justify-content: center;
    min-width: 320px;
    min-height: 300px;
    margin: 20px;
    max-height: 550px;
}

.fotka {
    height: 100%;
    max-height: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.blok-text {

    justify-content: center;
    margin: 20px;
    width: 40%;
    max-width: 50%;
    min-width: 400px;
    height: auto;
    color: white;
    text-align: left;


}

h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    color: white;
    font-family: Montserrat, sans-serif;
}

.h1 {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.size2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    font-weight: 300;
    color: white;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

}

@media only screen and (max-width: 768px) {
    .prob-rez {
        flex-direction: column;
    }

    .blok-foto, .blok-text {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .size2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 3vw;
    font-weight: 300;
    color: white;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

    }
    .blok-foto {
        max-height: none;
        min-height: auto;
    }

    .fotka {
        height: auto;
        max-height: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .prob-rez {
        flex-wrap: wrap;
    }

    .blok-foto, .blok-text {
        width: 80%;
        max-width: 80%;
        min-width: 320px;
    }
}

@media only screen and (min-width: 993px) {
    .prob-rez {
        flex-wrap: nowrap;
    }

    .blok-foto {
        max-height: 550px;
        min-height: 300px;
    }

    .fotka {
        height: 100%;
        max-height: 600px;
    }
}

.sector-2 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

}

.kontent-ikon {
    font-size: 2vw;
    margin: 4vw auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}

.kont {
    align-items: center;
    text-align: center;
    color: black;
    width: 11vw;
    height: 11vw;
}

.kont1 {
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    height: 100%;
    justify-content: center;


}

.fa {
    font-size: 5vw;
}

.op {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    font-family: Montserrat, sans-serif;


}

.sector-3 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 40px auto;
    justify-content: center;

    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    margin: 0 auto;
}

.gallery img {
    justify-content: center;
    width: 30%;
    margin: 10px;
    min-width: 300px;
}

.fot {
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img {
    justify-content: center;
    display: flex;
    width: 30%;
    margin: auto 10px;
    min-width: 300px;
    height: 30%;
    color: black;
    font-size: 3.8vw;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    text-align: center;
    align-items: center;
    word-wrap: break-word;

}


@media only screen and (max-width: 768px) {
    .gallery img {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .gallery img {
        width: 70%;
    }
}

@media only screen and (min-width: 993px) {
    .gallery img {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .img {
        width: 100%;
        min-height: 300px;
        max-width: 100%;
        font-size: 5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .img {
        width: 70%;
        margin: auto 10px;
        min-height: 300px;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 993px) {
    .img {
        width: 30%;
        margin: auto 10px;
        min-height: 300px;
        max-width: 32%;
        font-size: 3.8vw;
    }
}


.ot {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bron {
    border-radius: 20px;
    color: white;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bron-bot {
    height: 50%;
    width: 80%;
}

@media (max-width: 768px) {
    .gallery img {
        width: 90%; /* изменение ширины изображений */
        margin: 5px 0; /* изменение отступов между изображениями */
        min-width: auto;
    }

    .img {
        width: 100%; /* изменение ширины блока .img */
        margin: 20px 0; /* изменение отступов между блоками */
        max-height: none; /* сброс максимальной высоты блока .img */
        font-size: 3.5vw; /* изменение размера шрифта */
    }
}


.foot {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    font-size: 0.8vw;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}